.DS_Store
.vscode
__pycache__
*.pyc
env
runtime
.idea
output
logs
reference
GPT_weights
SoVITS_weights
GPT_weights_v2
SoVITS_weights_v2
TEMP
weight.json


onnx/*
out1.wav
out2.wav
pretrained_models
rec.wav